body {
    background-image: url('https://i.ytimg.com/vi/o7co7B7_6Vs/maxresdefault.jpg');
    background-repeat: repeat-y;
    background-position: center;
    color: white;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

section {
    background-color: black;
    opacity: 0.5;
    border-radius: 5px;
}

h1 {
    padding-top: 100px;
    text-align: center;
    font-size: 100px;
}

h2 {
    padding-top: 120px;
    font-size: 40px;
    padding-left: 30px;

}

ul {
    font-size: 18px;
}

button {
    padding: 10px;
    background-color: yellow;
    color: purple;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 30%;
    font-size: 28px;
}
section{
    margin: 200px;
}